<form name="myForm" action = "/dau" method="post">
    <p> Please select a month:  </p>
<p>
    <input type="radio" name="options" id="option1" value="Jan"> January <br>
    <input type="radio" name="options" id="option2" value="Feb"> February <br>
    <input type="radio" name="options" id="option3" value="Mar"> March <br>
    <input type="radio" name="options" id="option4" value="Apr"> April <br>
    <input type="radio" name="options" id="option5" value="May"> May <br>
    <input type="radio" name="options" id="option6" value="All"> Total users summary <br>
</p>

<p>
     <button type="submit">Submit</button>
</p>
    <br>
    {{ message }}
</form>